<div class="main-content">
  <div class="article-edit">
    <h2 class="heading">Editing article</h2>

    <%= render 'form' %>

    <div class="product-show-back">
      <%= link_to 'Show', @article %> |
      <%= link_to 'Back', articles_path %>
    </div>

  </div>
</div>

