<!--begin content -->
<div class="main-content">
  <div class='article'>
    <h2>Recent Posts</h2>
    <ul>
      <li>
        <h3 class='headline'><a href="newIdeas.html">Delious New Cake Pop ideas...</a></h3>

        <p class='newsItem'>Jeff: Published: 6/3/2014</p>

        <div class='blogPage'>
          <p>Duis libero elit, lacinia ornare vestibulum quis, pulvinar ac tortor. Nunc sed euismod massa.
            Ut hendrerit vehicula sem a semper. Quisque at urna erat. Fusce vestibulum quam ac imperdiet porttitor.
            Phasellus aliquam augue iaculis, eleifend nunc eu, dapibus augue. Donec tempor porttitor imperdiet. </p>
        </div>
      </li>
    </ul>

    <div class='pastArticles'>
      <h2>Past Posts</h2>
      <ul>
        <li>
          <h3 class='headline'><a href="thirtymin.html">Cake Pops in 30 mins...</a></h3>

          <p class='newsItem'>Duis libero elit, lacinia ornare vestibulum quis, pulvinar ac tortor. Nunc sed euismod
            massa.
            Ut hendrerit vehicula sem a semper. Quisque at urna erat. Fusce vestibulum quam ac imperdiet porttitor.
            Phasellus aliquam augue iaculis, eleifend nunc eu, dapibus augue. Donec tempor porttitor imperdiet. </p>

          <p class="pastPostsDate">6/1/2014</p>
        </li>
      </ul>
    </div>
  </div>
  <!--end articlesTest-->
</div>
<!--end content -->