<div class="main-content">
  <div class="product-edit">
    <h2 class="heading">New product</h2>

    <%= render 'form' %>

    <div class="product-show-back">
      <%= link_to 'Back', products_path %>
    </div>

  </div>
</div>